<%- include('../layouts/user/header',{title:"Royal Times Signup"}) %>

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Signup/Register</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="/user/signup">Signup/Register</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="/img/login.jpg" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of
								this is the</p>
							<a class="primary-btn" href="registration.html">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<div class="text-center px-5">
							<!-- <a href="/auth/google" class="btn btn-danger w-50  btn-block">Sign up with Google</a> -->
						</div>
						<h3>Register to enter</h3>
						<span id="messageShow" class="bg-danger text-white"></span>
						<% if (locals.message) { %>
							<span class="bg-danger text-white">
								<%= message %>
							</span>
							<% } %>
								<% if (typeof errors !=='undefined' && errors.length> 0) { %>
									<ul>
										<% errors.forEach(error=> { %>
											<li class="bg-danger text-white">
												<h2><%= error.msg %></h2>
											</li>
											<% }) %>
									</ul>
									<% } %>

										<form class="row login_form" action="/user/signup" method="post"
											id="contactForm" onsubmit="return validateForm()">
											<div class="col-md-12 form-group">
												<input type="text" class="form-control" id="name" name="name"
													placeholder="Username" onfocus="this.placeholder = ''"
													onblur="this.placeholder = 'Username'" required>
											</div>
											<div class="col-md-12 form-group">
												<input type="email" class="form-control" id="email" name="email"
													placeholder="Email Address" onfocus="this.placeholder = ''"
													onblur="this.placeholder = 'Email Address'" required>
											</div>
											<div class="col-md-12 form-group">
												<input type="Password" class="form-control" id="password"
													name="password" placeholder="Password"
													onfocus="this.placeholder = ''"
													onblur="this.placeholder = 'Password'" required>
											</div>
											<div class="col-md-12 form-group">
												<input type="Password" class="form-control" id="Password_Confirm"
													name="Password_Confirm" placeholder="Confirm Password"
													onfocus="this.placeholder = ''"
													onblur="this.placeholder = 'Confirm Password'" required>
											</div>
											<div class="col-md-12 form-group">
												<div class="creat_account">
													<input type="checkbox" id="f-option2" name="selector">
													<label for="f-option2">Keep me logged in</label>
												</div>
											</div>
											<div class="col-md-12 form-group">
												<button type="submit" value="submit" class="primary-btn">Signup</button>
												<br>
												<a href="http://localhost:5000/user/auth/google" class="primary-btn"
													style="color: white;">Sign up with Google</a>
												<h5>Already have an account? <a href="/user/login"
														style="color: orange;">LOGIN</a></h5>


											</div>
										</form>
									
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include('../layouts/user/footer') %>